body {
  font-family:Arial;
  margin: 15px
}
h1 {
  text-align: center;
}
h2 { 
  text-align: center;
}
h3 {
  color:darkblue
}
.projects {
  border: dotted;
  padding: 14px;
  background-color: bisque;
}
.dog-names {
  color:brown
}